# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы
*.o
*.obj
*.exe
*.dll
*.so
*.out

# Файлы сборки
/build/
bin/
out/

# Файлы конфигурации Visual Studio Code
.vscode/

# Файлы временной компиляции
*.tmp
*.log
*.pdb
*.idb
*.ilk
*.sdf
*.suo
*.user

# Системные файлы IDE
.idea/
*.sublime-workspace
*.sublime-project
